services:
  # Postgres database
  db:
    # Using the latest Postgres image
    image: postgres:latest
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: justForLearning!


  # Database management interface
  adminer:
    image: adminer:latest
    restart: always
    ports:
      - 8888:8080